.section-video {
    position: relative;
    background: var(--ternarycolor-transparent);
    color: #fff;
}

.background-video,
.background-video video {
    min-width: 100%;
    min-height: 100%;
}

.background-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
    pointer-events: none;
    z-index: -1;
}

.background-video video {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
    -o-object-fit: cover;
    object-fit: cover;
}
