/* Remove Fullpage Styles */
.section-projects.fp-table {
    justify-content: flex-start;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 100);
    cursor: pointer;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    --project-item-width: 50%;
    height: 25vh;
    height: calc(calc(var(--vh, 1vh) * 100)/4);
    overflow: hidden;
    background-image: radial-gradient(circle,red,orange,yellow,green,blue,indigo,violet);
    border: 4px double #000033;
}

.project-video,
.project-image {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../images/nr-logo.webp") #000066 center no-repeat;
    background-size: 100px 100px;
    line-height: 0;
}

.project-info {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    padding: var(--common-padding);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    background: #000066;
}

.project-title {
    color: #ffffff;
}

.project-technologies {   
    padding: 0;  
    transition: var(--common-transition);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0 0 25px;
}

.project-technologies li {
    margin-right: 30px;
}

.project:hover .project-info {
    animation: animateTopPosition 2s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes animateTopPosition {
    0%   {top: 100%;}
    100% {top: 0;}
 }

.projects-more {
    position: absolute;
    left: 50%;
    top: 50vh;
    top: calc(calc(var(--vh, 1vh) * 100)/2);
    transform: translateX(-50%) translateY(-50%);
    background-image: radial-gradient(circle,red,orange,yellow,green,blue,indigo,violet);
    border-radius: 5px;
    border: 3px solid transparent;
}

.projects-more a {
    display: inline-block;
    padding: 10px 15px 12px;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    background-color: #000033;
    color: #ffffff;
    transition: var(--common-transition);
}

.projects-more a:hover {
    background-color: green;
}

#projectspage .projects-more.projects-more--live {
    position: relative;
    right: auto;
    bottom: auto;
    display: inline-block;
    margin-top: 20px;
}

@media only screen and (min-width: 640px) and (orientation: landscape) {
    .projects {
        flex-direction: initial;
    }

    .project {
        width: 50vw;
        height: 50vh;
        height: calc(calc(var(--vh, 1vh) * 100)/2);
    }
}
