.skew-content {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    align-items: stretch;
    flex-direction: column;
}

.skew-half-left {
    background: #000066;
}

.skew-half-right {
    background: #3d3d3d;
}

.section .skew-half-right .skew-half-skewed {
    text-align: left;
}

.skew-half-left .skew-half-skewed {
    background-color: #000033;
    color: #ffffff;
}

.skew-half-right .skew-half-skewed {
    background-color: #ffffff;
    color: #000033;
}

.skew-half-left-content,
.skew-half-right-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.skew-half-content-row {
    margin-bottom: 30px;
}

.skew-half-content-row:last-of-type {
    margin-bottom: 0;
}

.skew-half-content-row ul {
    text-align: left;
    margin-top: 0;
}

.skew-half-content-row ul:last-of-type {
    margin-bottom: 0;    
}

.skew-half-left-content {
    padding: var(--common-padding) 125px var(--common-padding) var(--common-padding);
}

.skew-half-right-content {
    padding: var(--common-padding);
}

.skew_container  {
    margin: 50px auto;
    overflow: hidden;
 }
 
 .skew_container .skew_bg .content {
    color: #fff;
    font-size: 30px;
 }
 
 
@media only screen and (min-width: 640px) {
    .skew-content {
        flex-direction: row;
    }
        
    .skew-half {
        width: 50%;
    }

    .skew-half-left {
        background: #000066;
    }

    .skew-half-right {
        background: #3d3d3d;
    }

    .skew-half-left .skew-half-skewed,
    .skew-half-right .skew-half-skewed {
        transform: skewX(-18deg);
        height: 100%;
        position: absolute;
        width: 70%;
    }

    .skew-half-left .skew-half-skewed {
        left: -20%;
        background-color: #000033;
        color: #ffffff;
    }

    .skew-half-right .skew-half-skewed {
        right: -20%;
        background-color: #ffffff;
        color: #000033;
    }

    .skew-half-left-content,
    .skew-half-right-content {
        padding-left: 30%;
        padding-right: 10%;
        transform: skewX(18deg);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }

    .section .skew-half-right .skew-half-skewed {
        text-align: center;
    }

    .skew-half-content-row {
        margin-bottom: 30px;
    }

    .skew-half-content-row:last-of-type {
        margin-bottom: 0;
    }

    .skew-half-content-row ul {
        text-align: left;
        margin-top: 0;
    }

    .skew-half-content-row ul:last-of-type {
        margin-bottom: 0;    
    }

    .skew-half-left-content {
        left: -20%;
        padding-left: 40%;
    }

    .skew-half-right-content {
        right: -20%;
        padding-left: 5%;
        padding-right: 40%;
    }

    .skew_container  {
        max-width: 500px;
        margin: 50px auto;
        overflow: hidden;
        padding-bottom: 4%;
    }
    
    .skew_container .skew_bg .content {
        color: #fff;
        font-size: 30px;
        transform: skew(0deg, -10deg);
    }
}
